@import "~bootstrap";

@import "~jquery-ui-themes/themes/base/jquery-ui.min.css";

@import "~jquery-ui-themes/themes/base/theme.css";

.form-error{
  color: red;
  border-color: red;
}

#table-content {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table-content td, #table-content th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-content tr:nth-child(even){background-color: #f2f2f2;}

#table-content tr:hover {background-color: #ddd;}

#table-content th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
